h1 サンプル試験採点
table.make-grid
  tr
    th data-field=t('students.name')
    th data-field=t('grades.points')
    th data-field=t(:options)
  tr
    td A子
    td
      .make-grading-widget 85
    td= link_to "ノート追加", "", :class => "make-button"
  tr
    td B子
    td
      .make-grading-widget 65
    td= link_to "ノート追加", "", :class => "make-button"
  tr
    td C子
    td
      .make-grading-widget 95
    td= link_to "ノート追加", "", :class => "make-button"
javascript:
  | $(".make-grading-widget").geGradingWidget();
