= modal_for 'semester-modal' do
  = modal_form_for [@course, @semester_course], { resource: 'course-semester-course', label: t(:'semester.singular') } do |f|
      = render 'form_fields', f: f
      = buttons_for @semester_course, { resource: 'course-semester-course', label: t(:'semester.save') }
