= remote_form_for @course, :url => enroll_class_group_course_enrollment_path(@course), :method => 'post' do |f|
  = f.select :class_group_id, class_groups, {:prompt => t('class_group.choose')}, {:class => 'chzn-select'}
  = buttons_for @course, :nested_id => 'course-class-group', :label => t('class_group.enroll')
