= form_for(@class_group_enrollment) do |f|
  - if @class_group_enrollment.errors.any?
    #error_explanation
      h2
        = pluralize(@class_group_enrollment.errors.count, "error")
        | prohibited this class_group_enrollment from being saved:
      ul
        - @class_group_enrollment.errors.full_messages.each do |msg|
          li= msg
  .field
    = f.label :class_group
    br/
    = f.text_field :class_group
  .field
    = f.label :student
    br/
    = f.text_field :student
  .actions
    = f.submit
