= remote_form_for [@exam, @exam_portion, @attachment], resource: 'exam-exam-portion-attachment' do |f|
	= render 'form_fields', f: f
	= buttons_for @attachment, resource: 'exam-exam-portion-attachment'
