tr id="enrollment-#{enrollment.id}"
	td= enrollment.course.code
	td= ajax_link_to_delete class_group_class_group_course_enrollment_path(:class_group_id => enrollment.class_group_id, :id => enrollment.id), :id => 'delete-course-link'
  