= remote_form_for [:admin, @student_review_category], resource: 'admin-student-review-category' do |f|
  = render 'form_fields', f: f
  = buttons_for @student_review_cateogry, resource: 'admin-student-review-category'
