= remote_form_for [:admin, @school_year], resource: 'admin-school-year' do |f|
  = render 'form_fields', f: f
  = buttons_for @school_year, resource: 'admin-school-year', label: t(:'school_year.save')
