-if @enrolled_students && @enrolled_students.include?(student.id.to_s)
	td = image_tag 'check.png', :class => 'enrolled'
-elsif @selected_students 
  td = check_box_tag "","", (@selected_students.include?('student-'+student.id.to_s) ? true : false), :class => "student-check student-#{student.id}", :id => "student-#{student.id}"
-else
  td = check_box_tag "","", false, :class => "student-check student-#{student.id}", :id => "student-#{student.id}"
td.surname = student.surname
td.name = student.name
td.birth = student.birth_date
td.gender = student.gender.nil? ? '' : (student.gender ? t('male') : t('female'))
td.class-name = student.class_group_enrollments.empty? ? '' : student.class_groups.last.name
td.seat-number = student.class_group_enrollments.empty? ? '' : student.class_group_enrollments.last.seat_number
td.admitted = student.admitted
td.address = student.address_widget
