= remote_form_for [:admin, @school, @campus, @address] do |f|
  = render 'gaku/shared/form_fields/address_form_fields', :f => f
  = buttons_for @address, :nested_id => 'admin-school-campus-address', :label => t(:'address.save')
