= remote_form_for [@class_group, @class_group_course_enrollment] do |f|
  = f.select :course_id, courses, {:prompt => t(:'course.choose')}, :label => t(:'course.code')
  = f.hidden_field :class_group_id, :value => @class_group.id

  = buttons_for @class_group_course_enrollment, :nested_id => 'class-group-course'
