// Place all the styles related to the Exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.score-error{
	border:1px solid red !important; 
}

.exam-frame-table {
  width: auto;
  padding: 0px;
  
  tbody {
    tr {
      td {
        padding: 0px;
      }
    }
    tr:hover {
      td {
        background-color: white;
      }
    }
  }
}
.exam-parts {
  border: none;
  border-radius: 0px;
  padding: 0px;
    
  thead:first-child tr:first-child th:last-child {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
  }
  thead:first-child tr:first-child th:first-child {
    border-left: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
  }
  thead {
    tr {
      th {
        border-radius: 0px;
      }
    }
  }
  tbody {
    tr {
      height: 39px;
      
      td:first-child {
        border-left: 0px;
      }
      td {
        padding: 4px 5px;
      }
    }
  }
}
.border-bottom {
  border-bottom: 1px solid #dddddd;
}

* {
  word-wrap:break-word;
}
