// for HTML tag ----------------

$c_red: #e45353; /* Error red */

html {
  // overflow-y: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 55px;
}

@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

hr {
  margin: 20px 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}


// for GAKUEngine ----------------

.notice {
  border: 2px;
  background: {
    color: #00a3af;
  }

  font: {
    size: 20px;
  }

  color: black;
  padding: 10px;
}

.h4-vm {
  height:28px;
  line-height:28px;
}

th.vm {
  vertical-align: middle;
}
th.vm-tc {
  vertical-align: middle;
  text-align: center;
}
th.vm-tr {
  vertical-align: middle;
  text-align: right;
}
td.vm {
  vertical-align: middle;
}
td.vm-tc {
  vertical-align: middle;
  text-align: center;
}
td.vm-tr {
  vertical-align: middle;
  text-align: right;
}


// bootstrap fix ----------------

.btn-inverse a {
  color: white;
}

.row-fluid a[class*='span']  {
  min-height:0px;
}

.btn-toolbar {
  margin: 0px;
  height: 28px;
  .last {
    margin-right: 15px;
  }
}

.btn-group + .btn-group {
  margin-left: 0px;
}

.table {
  margin-bottom: 0px;
}

table.table{
  th {
    vertical-align: middle;
    text-align: center;
  }
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: white;
}
.table tbody tr:hover td, .table tbody tr:hover th {
  // background-color: #e2f3e7;
}

.icon-chair {
  background-image: url("/assets/icon-chair.png");
  background-position: 0px;
}

span.required {
  color: $c_red;
  font-weight: bold;
  font-size: 1.2em;
}
.fieldWithErrors {
  margin: 0px;
  display: block;
  clear: both;
}

form {
  margin: 0px;
}

.alert ul {
  margin-bottom:0px;
}

.well {
  .well {
    background-color: #FFF;
    margin-bottom: 0px;
    .well {
      background-color: #F5F5F5;
      margin-bottom: 20px;
    }
  }
  &.well-white {
    background-color: #FFF;
  }
}

.navbar-brand {
  padding: 12px 15px 0px 15px;
}

.divider-vertical {
  height: 42px;
  border-right: 1px solid #B8B8B8;
  border-left: 1px solid #F2F2F2;
}

.tab-content {
  border: 1px solid #DDD;
  padding: 15px;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}


// for fix ----------------

.mt-xs { margin-top: 5px }
.mt-s { margin-top: 10px }
.mt-m { margin-top: 15px }
.mt-l { margin-top: 20px }

.mr-xs { margin-right: 5px }
.mr-s { margin-right: 10px }
.mr-m { margin-right: 15px }
.mr-l { margin-right: 20px }

.ml-xs { margin-left: 5px }
.ml-s { margin-left: 10px }
.ml-m { margin-left: 15px }
.ml-l { margin-left: 20px }

.mb-0 { margin-bottom: 0px }