// for nprogress ----------------
$nprogress-color: #bbbcde;
@import 'nprogress';
@import 'nprogress-bootstrap';

// for HTML tag ----------------
$c_red: #e45353; /* Error red */

html {
  // overflow-y: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 70px;
}

hr {
  margin: 20px 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}


// for GAKUEngine ----------------
.container {
  width: 100%;
  max-width: 1900px;
}

.notice {
  border: 2px;
  background: {
    color: #00a3af;
  }

  font: {
    size: 20px;
  }

  color: black;
  padding: 10px;
}

.h4-vm {
  height:28px;
  line-height:28px;
}

th.vm {
  vertical-align: middle;
}
th.vm-tc {
  vertical-align: middle;
  text-align: center;
}
th.vm-tr {
  vertical-align: middle;
  text-align: right;
}
td.vm {
  vertical-align: middle;
}
td.vm-tc {
  vertical-align: middle;
  text-align: center;
}
td.vm-tr {
  vertical-align: middle;
  text-align: right;
}

.table {
  tr {
    td {
      .btn {
        margin-right: 5px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  &.th-center {
    th {
      vertical-align: middle;
      text-align: center;
    }
  }
}

.pull-right {
  .btn {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

// for bootstrap ----------------

.btn-toolbar {
  margin: 0px;
  height: 28px;
  .last {
    margin-right: 15px;
  }
}

.btn-group + .btn-group {
  margin-left: 0px;
}

.icon-chair {
  background-image: url("/assets/icon-chair.png");
  background-position: 0px;
}

span.required {
  color: $c_red;
  font-weight: bold;
  font-size: 1.2em;
}
.fieldWithErrors {
  margin: 0px;
  display: block;
  clear: both;
}

form {
  margin: 0px;
}

.alert ul {
  margin-bottom:0px;
}

.well {
  .well {
    background-color: #FFF;
    margin-bottom: 0px;
    .well {
      background-color: #F5F5F5;
      margin-bottom: 20px;
    }
  }
  &.well-white {
    background-color: #FFF;
  }
}

.navbar-brand {
  padding: 12px 15px 0px 15px;
}

.divider-vertical {
  height: 42px;
  border-right: 1px solid #B8B8B8;
  border-left: 1px solid #F2F2F2;
}

.tab-content {
  border: 1px solid #DDD;
  padding: 15px;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}


// for fix ----------------

.mt-0 { margin-top: 0px }
.mt-xs { margin-top: 5px }
.mt-s { margin-top: 10px }
.mt-m { margin-top: 15px }
.mt-l { margin-top: 20px }

.mr-xs { margin-right: 5px }
.mr-s { margin-right: 10px }
.mr-m { margin-right: 15px }
.mr-l { margin-right: 20px }

.mb-xs { margin-bottom: 5px }
.mb-s { margin-bottom: 10px }
.mb-m { margin-bottom: 15px }
.mb-l { margin-bottom: 20px }
.mb-0 { margin-bottom: 0px }

.ml-xs { margin-left: 5px }
.ml-s { margin-left: 10px }
.ml-m { margin-left: 15px }
.ml-l { margin-left: 20px }

.d-none { display: none }


// for responsive ----------------

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
}

/* Medium devices (desktops, 992px) */
@media (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}