= f.text_field :name, :label => t(:'admission_phase_states.name')
= f.check_box :can_progress, :label => t(:'admission_phase_states.can_progress')
= f.check_box :can_admit, :label => t(:'admission_phase_states.can_admit')
= f.check_box :auto_progress, :label => t(:'admission_phase_states.auto_progress')
= f.check_box :auto_admit, :label => t(:'admission_phase_states.auto_admit') 