form role="form"
  .row.mb-m
    .col-md-2
      = autocomplete_select(f, options = {object_name: 'addresses_country_name_eq',
                                          tag_name: t('address.country'),
                                          collection: @countries, prompt: t('address.choose_country'),
                                          prompt_position: "bottomRight:5",
                                          html_options: {class: "validate[required] span12", id: "country_dropdown"}})
    .col-md-2
      = autocomplete_text_field(f, options = {object_name: 'addresses_zipcode_cont',
                                              tag_name: t(:'address.zipcode'),
                                              class_name: 'address',
                                              column: 'zipcode'} )
    .col-md-2
      = autocomplete_text_field(f, options = {object_name: 'addresses_state_name_cont',
                                              tag_name: t(:'address.state.singular'),
                                              class_name: 'state',
                                              column: 'name'})
    .col-md-2
      = autocomplete_text_field(f, options = {object_name: 'addresses_city_cont',
                                              tag_name: t(:'address.city'),
                                              class_name: 'address',
                                              column: 'city'} )

    .col-md-2
      = autocomplete_text_field(f, options = {object_name: 'addresses_address1_cont',
                                              tag_name: t(:'address.address1'),
                                              class_name: 'address',
                                              column: 'address1'} )
    .col-md-2
      = autocomplete_text_field(f, options = {object_name: 'addresses_address2_cont',
                                              tag_name: t(:'address.address2'),
                                              class_name: 'address',
                                              column: 'address2'} )
