= modal_for 'edit-state-modal' do
  = modal_form_for [:admin, @state], resource: 'admin-state' do |f|
    = render 'form_fields', f: f
    = buttons_for @state, { resource: 'admin-state', label: t(:'address.state.save') }
