= f.label :title, t("note.title"), :class => "control-label"
= f.text_field :title, :class => "span12 edit_note"
= f.label :content, t("note.content"), :class => "control-label"
= f.text_area :content, :class => "span12 edit_note", :size => "0x10"