<h1><%= t('students.new') %></h1>

<%= render 'form' %>

<%= link_to t(:Back), students_path %>

<script>
$(document).ready(function() {
    // create DatePicker from input HTML element
    $(".datepicker").kendoDatePicker();
});
</script>
