td = external_school_record.school
td = external_school_record.student_id_number
td = external_school_record.beginning
td = external_school_record.ending
td = external_school_record.units_absent
td = external_school_record.total_units
td = external_school_record.attendance_rate
td
  = ajax_link_to_edit [:edit, @student, external_school_record]
  = ajax_link_to_delete [@student, external_school_record]
