h1 Listing exams
table
  tr
    th Name
    th Course
    th Problem count
    th Max score
    th Weight
    th Data
    th
    th
    th
  - @exams.each do |exam|
    tr
      td= exam.name
      td= exam.course
      td= exam.problem_count
      td= exam.max_score
      td= exam.weight
      td= exam.data
      td= link_to 'Show', exam
      td= link_to 'Edit', edit_exam_path(exam)
      td= link_to 'Destroy', exam, confirm: 'Are you sure?', method: :delete
br/
= link_to 'New Exam', new_exam_path
hr/
.well
  .row-fluid
    .span12
      .btn-toolbar
        .btn-group
          button.btn.btn-success href="#"
            i.icon-list-alt.icon-white
            | 整列順序
        .btn-group.last data-toggle="buttons-radio"
          button.btn.active 出席番号順
          button.btn 考査得点順
          button.btn 学期得点順
        .btn-group
          button.btn.btn-success href="#"
            i.icon-edit.icon-white
            | 処理状態
        .btn-group.last data-toggle="buttons-radio"
          button.btn.active 入力途中
          button.btn 入力完了
        .btn-group.last
          button.btn 期末考査入力
          button.btn 評価自動設定
          button.btn 評価割合参照
  hr/
  .row-fluid
    .span12
      table#grid
        thead
          tr
            th data-field="no" rowspan="2"
            th data-field="kumi" rowspan="2"
            th data-field="sekino" rowspan="2"
            th data-field="name" rowspan="2"
            th data-field="soten1"
            th data-field="etc1"
            th data-field="etc2"
            th data-field="tokuten1"
            th data-field="kesseki1"
            th data-field="soten2"
            th data-field="etc3"
            th data-field="etc4"
            th data-field="tokuten2"
            th data-field="kesseki2"
            th data-field="point" rowspan="2"
            th data-field="thyouka" rowspan="2"
            th data-field="khyouka" rowspan="2"
            th data-field="kekka" rowspan="2"
            th data-field="kibiki" rowspan="2"
            th data-field="nopoint" rowspan="2"
        tbody
          tr
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td.td-left テストテスト
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td &nbsp;
javascript:
  | $(document).ready(function(){
  	| $("#grid").kendoGrid();
  | });
