=form_for [@student, @enrollment_status], :remote => true do |f|
	=f.select :enrollment_status_type_id, Gaku::EnrollmentStatusType.all.collect{|s| [s.name.capitalize, s.id]}, :prompt => t('default')
	=f.submit nil, :class => 'btn btn-primary'
	=link_to t('cancel'), "",:id => 'cancel-enrollment-status-link', :class => 'btn'