= form_for(@course_enrollment) do |f|
  - if @course_enrollment.errors.any?
    #error_explanation
      h2
        = pluralize(@course_enrollment.errors.count, "error")
        | prohibited this course_enrollment from being saved:
      ul
        - @course_enrollment.errors.full_messages.each do |msg|
          li= msg
  .field
    = f.label :student
    br/
    = f.select :student_id, Student.all.collect { |s| [s.name, s.id] }
  = f.hidden_field :course_id, :value => @course_enrollment.course_id
  .actions
    = f.submit
