= remote_form_for [@nested_resources, @polymorphic_resource, @contact].flatten, resource: @polymorphic_resource_name do |f|
  = render 'form_fields', f: f
  = buttons_for @contact, resource: @polymorphic_resource_name

