= f.text_field :name, :label => t(:'achievement.name')
= f.text_field :description, :label => t(:'achievement.description')
= f.text_field :authority, :label => t(:'achievement.authority')
= f.file_field :badge, :label => t(:'achievement.badge')



