= modal_for 'edit-achievement-modal' do
  = normal_modal_form_for [:admin, @achievement], resource: 'admin-achievement' do |f|
    = render 'form_fields', f: f
    = buttons_for @achievement, resource: 'admin-achievement'