= remote_form_for [@student, @guardian], { resource: 'student-guardian' }  do |f|
  = render 'gaku/students/guardians/form_fields', f: f, guardian: @guardian
  = buttons_for @guardian, { resource: 'student-guardian' }
