= modal_for 'edit-grading-method-set-grading-method-set-item-modal' do
  = modal_form_for [:admin, @grading_method_set, @grading_method_set_item], resource: 'admin-grading-method-set-grading-method-set-item' do |f|
    = render 'form_fields', f: f
    = buttons_for @grading_method_set_item, resource: 'admin-grading-method-set-grading-method-set-item'
