<ul class="nav">
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "language" %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "English", :locale => 'en' %></li>
    <li><%= link_to "Japanese", :locale => 'jp' %></li>
  </ul>
</li>
</ul>