<ui class="nav pull-right">
  <% if user_signed_in? %>
  <li class="divider-vertical"></li>
  <li>
    <div class="btn-group">
      <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user icon-white"></i>　<%= current_user.email %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to raw('<i class="icon-ban-circle"></i>' +" "+ t("devise.sign_out")), destroy_user_session_path, :method => :delete %></li>
        <li id="options"><a data-toggle="modal" href="#modal-options"><i class="icon-certificate"></i> <%= t "config.label" %></a></li>
      </ul>
    </div>
  </li>
  <% end %>
</ul>