<div id="menubar">
  <% if user_signed_in? %>
    <%= render :partial => "shared/login_widget" %>
    <%= render :partial => "shared/global_menu" %>
  <% end %>
</div>
<script>
  $("#menubarMenu").kendoMenu();
</script>
