<ul>
  <li><%= link_to t("students.list"), students_path %></li>
  <li><%= link_to t("syllabuses.list"), syllabuses_path %></li>
  <li><%= link_to t("school_classes.list"), school_classes_path %></li>
</ul>
