span#commute-method style='margin-right:3px'  
  =student.commute_method.commute_method_type.name.capitalize
=link_to t("Edit"), edit_student_commute_method_path(student, student.commute_method), :remote => true, :id => 'edit-student-commute-method-link'