= remote_form_for [@student, @commute_method] do |f|
  = f.select :commute_method_type_id, commute_method_types, :prompt => t('default')
  = buttons_for @commute_method, :nested_id => 'student-commute-method'
