<% content_for :title, translate("comname") %>
<div class="row-fluid">
  <div class="span12">
      <% if user_signed_in? %>
        --ここにユーザの役割・権限によるアクションとそのユーザが担当する授業やクラスなど--
        <%= render 'menu' %>
      <% else %>
        下記のリンクからログインしてください。
        <%= link_to t("devise.sign_in"), new_user_session_path %>
      <% end %>
  </div>
