td = simple_grade_type.name
td = simple_grade_type.max_score
td = simple_grade_type.passing_score
td = simple_grade_type.school
td = simple_grade_type.grading_method
td
  = ajax_link_to_edit [:edit, :admin, simple_grade_type]
  = ajax_link_to_delete [:admin, simple_grade_type]
