td = badge_type.name
td = badge_type.description
td = badge_type.authority
td = resize_image(badge_type.badge_image, size: 48)
td
  = ajax_link_to_edit [:edit, :admin, badge_type]
  = ajax_link_to_delete [:admin, badge_type]
