= f.text_field :name,        label: t(:'badge_type.name')
= f.text_field :code,        label: t(:'badge_type.code')
= f.text_field :description, label: t(:'badge_type.description')
= f.text_field :authority,   label: t(:'badge_type.authority')
= f.text_field :issuer,      label: t(:'badge_type.issuer')
= f.text_field :url,         label: t(:'badge_type.url')
= f.file_field :badge_image, label: t(:'badge_type.badge')
