= f.text_field :name,        label: t(:'badge_type.name')
= f.text_field :description, label: t(:'badge_type.description')
= f.text_field :authority,   label: t(:'badge_type.authority')
= f.file_field :badge_image,       label: t(:'badge_type.badge')
