td =commute_method_type.name
td
  = ajax_link_to_edit [:edit, :admin, commute_method_type], :id => 'edit-commute-method-type-link'
  = ajax_link_to_delete [:admin, commute_method_type], :id => 'delete-commute-method-type-link'