= drag_field
td= grading_method_set_item.grading_method.name
td= grading_method_set_item.grading_method.description
td= grading_method_set_item.grading_method.method
td= grading_method_set_item.grading_method.arguments
td= boolean_image grading_method_set_item.grading_method.name
td
  = ajax_link_to_edit [:edit, :admin, grading_method_set_item.grading_method_set, grading_method_set_item]
  = ajax_link_to_delete [:admin, grading_method_set_item.grading_method_set, grading_method_set_item]
