<li class="dropdown-submenu" data-hook="admissions_sub_menu">
  <a tabindex='-1' href='#'><%= t('menu.admissions') %></a>
  <ul class="dropdown-menu">
    <li data-hook="admission_methods"><%= link_to t("menu.admission_methods"), admin_admission_methods_path %>
    </li>
    <li data-hook="admission_methods"><%= link_to t("menu.admission_periods"), admin_admission_periods_path %>
    </li>
    <li data-hook="admissions"><%= link_to t("menu.admissions"), admin_admissions_path %>
    </li>
  </ul>
</li>