td =school.name
td =school.slogan
td =school.description
td =school.founded
td =school.principal
td =school.vice_principal
td =school.grades
td
  = ajax_link_to_edit [:edit, :admin, school]
  = ajax_link_to_delete [:admin, school]