= f.select :specialty_id,  options_from_collection_for_select(@specialties, :id, :name), { prompt: t(:'specialty.choose')}, label: t(:'specialty.plural')
= f.check_box :major, label: t(:'specialty.major')
