= tr_for extracurricular_activity_enrollment
  td = extracurricular_activity_enrollment.enrollmentable.name
  td = ajax_link_to_delete student_extracurricular_activity_enrollment_path(@student, extracurricular_activity_enrollment)
