= normal_form_for [:admin, @preset], resource: 'admin-preset', label: 'nil' do |f|

  = f.select :time_format_24, options_for_select([['24', true], ['am/pm', false]], selected: @preset['time_format_24']), label: t(:'locale')
  = buttons_for @preset, resource: 'admin-preset'
