= remote_form_for [@class_group, @enrollment], { resource: "class-group-enrollment", label: t(:'enrollment.singular') } do |f|
  #class-group-enrollment-errors
  = render 'form_fields', f: f
  = buttons_for @enrollment, { resource: "class-group-enrollment", label: t(:'enrollment.save') }
