td.code = syllabus.code
td.name = syllabus.name
td.department = syllabus.department
td.description = syllabus.description
td.credits = syllabus.credits
td.exams = syllabus.exams_count
td = link_to_edit [:edit, syllabus]