=form_for @new_class_group_enrollment, :url => enroll_student_class_group_enrollments_path, :remote => true do |f|
  =f.hidden_field :class_group_id, :value => @class_group.id
  .row-fluid
		=f.label :students
		= f.select :student_id, Student.all.collect { |s| ["#{s.name} #{s.surname} ", s.id] }, {:prompt => t('class_groups.choose_student')}
  .row-fluid
  	=f.label :seat_number
  	=f.text_field :seat_number
  .row-fluid
		=f.submit t('class_groups.create_class_group_enrollment'), :class => 'btn btn-primary'
