= form_for(@teacher) do |f|
  - if @teacher.errors.any?
    #error_explanation
      h2
        = pluralize(@teacher.errors.count, "error")
        | prohibited this teacher from being saved:
      ul
        - @teacher.errors.full_messages.each do |msg|
          li= msg
  .field
    = f.label :name
    br/
    = f.text_field :name
  .field
    = f.label :address
    br/
    = f.text_area :address
  .field
    = f.label :phone
    br/
    = f.text_field :phone
  .field
    = f.label :email
    br/
    = f.text_field :email
  .field
    = f.label :birth
    br/
    = f.date_select :birth
  .actions
    = f.submit
