span#student-specialty-list
  = student_specialties_list(@student.student_specialties)
= link_to edit_button, [student, :student_specialties], :remote => true, :id => 'new-student-commute-method-link', :class => 'btn mr-s btn-mini btn-warning'