span#student-specialty-list
  = student_specialties_list(@student.student_specialties)
= link_to edit_button, [student, :student_specialties], :class=> 'mr-xs btn btn-mini btn-warning' , :id => 'new-student-specialty-link', :remote => true
