span#student-simple-grades-list style='margin-right:3px'
  = student.simple_grades.pluck(:name).join(', ')
= link_to edit_button, [student, :simple_grades], :class=> 'mr-xs btn btn-mini btn-warning' , :id => 'index-student-simple-grades-link', :remote => true
