span#student-simple-grades-list style='margin-right:3px'
  = simple_grades_show(student.simple_grades)
= link_to edit_button, [student, :simple_grades], :class=> 'mr-xs btn btn-mini btn-warning' , :id => 'index-student-simple-grades-link', :remote => true
