= remote_form_for [@student, @course_enrollment], url: student_course_enrollments_path(@student, @course_enrollment)  , resource: 'student-course-enrollment' do |f|
  = f.select :enrollmentable_id, options_from_collection_for_select(@courses, :id, :to_s), { prompt: t(:'course.choose')}, label: t(:'course.plural')
  = buttons_for @course_enrollment, label: t(:'course_enrollment.create'), resource: 'student-course-enrollment'
