- unless contact.nil? or contact.new_record? or !contact
  tr id="contact-#{contact.id}"
    = render :partial => 'gaku/admin/schools/campuses/contacts/fields', :locals => {:contact => contact, :school => @school, :campus => @campus }