= remote_form_for [:admin, @admission_method] do |f|
  = render 'form_fields', :f => f
  = buttons_for @admission_method, :nested_id => 'admin-admission-method',  :label => t(:'admission_methods.save')
