-unless address.nil? or address.new_record? or !address
  tr id="address-#{address.id}"
    = render :partial => 'students/guardians/addresses/address_fields',:locals => {:address => address, :student => @student,:guardian =>  @guardian, :primary_address => @primary_address}