- unless contact.nil? or contact.new_record? or !contact
  tr id="contact-#{contact.id}"
    = render :partial => 'gaku/students/contacts/fields', :locals => {:contact => contact, :student => @student}

