= remote_form_for [:admin, @school, @campus, @contact], resource: 'admin-school-campus-contact' do |f|
  = render 'form_fields', f: f
  = buttons_for @contact, { resource: 'admin-school-campus-contact', label: t(:'contact.save') }
