= remote_form_for [@syllabus, Gaku::ExamSyllabus.new], :url => syllabus_exam_syllabuses_path(@syllabus), :method => 'post' do |f|

  = f.select :exam_id, Gaku::Exam.all.reject {|e| @syllabus.exams.include?(e)}.collect{ |exam| ["#{exam.name}", exam.id]}, {:prompt => t('exam.choose')}, {:class => 'chzn-select'}

  = buttons_for @syllabus, :nested_id => 'existing-exam', :label => t('exam.add')
