td*{'data-id' =>portion.id} 
  = number_field :weight,'',:min => "0", :value => portion.weight, :class => 'exam-portion-weight', :id => portion.id, :disabled => true
  = hidden_field :id, :value => portion.id