- unless exam_portion.nil? || exam_portion.new_record? || !exam_portion
  tr id="exam_portion_#{exam_portion.id}"
    =render 'gaku/exams/exam_portions/exam_portion_unit', :exam_portion => exam_portion