$c_red: #e45353; /* Error red */

html {
  // overflow-y: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 55px;
}

@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

.notice {
  border: 2px;
  background: {
    color: #00a3af;
  }

  font: {
    size: 20px;
  }

  color: black;
  padding: 10px;
}

.mt-xs { margin-top: 5px }
.mt-s { margin-top: 10px }
.mt-m { margin-top: 15px }
.mt-l { margin-top: 20px }

.mr-xs { margin-right: 5px }
.mr-s { margin-right: 10px }
.mr-m { margin-right: 15px }
.mr-l { margin-right: 20px }

.mb-0 { margin-bottom: 0px }

.h4-vm {
  height:28px;
  line-height:28px;
}

.grading-table {
  thead {
    th {
      text-align: center;
      vertical-align: middle;
    }
  }
}

input.form_blur_event {
  margin-bottom: 0px;
}

th.vm {
  vertical-align: middle;
}
th.vm-tc {
  vertical-align: middle;
  text-align: center;
}
th.vm-tr {
  vertical-align: middle;
  text-align: right;
}
td.vm {
  vertical-align: middle;
}
td.vm-tc {
  vertical-align: middle;
  text-align: center;
}
td.vm-tr {
  vertical-align: middle;
  text-align: right;
}

//bootstrap fix ----------
.row-fluid a[class*='span']  {
  min-height:0px;
}
hr {
  margin: 10px 0px;
}
.btn-toolbar {
  margin: 0px;
  height: 28px;
  .last {
    margin-right: 15px;
  }
}
.btn-group + .btn-group {
  margin-left: 0px;
}
.navbar .brand {
  padding: 8px 20px 0px;
}

.navbar .nav > li > a {
  padding: 11px 10px 10px;
}
.navbar .btn, .navbar .btn-group {
margin-top: 7px;
}

.table {
  margin-bottom: 0px;
}

table.table{
  th {
    vertical-align: middle;
    text-align: center;
  }
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: white;
}
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #e2f3e7;
}

span.required {
  color: $c_red;
  font-weight: bold;
  font-size: 1.2em;
}

.fieldWithErrors {
  margin: 0px;
  display: block;
  clear: both;
}

form {
  margin: 0px;
}

.alert ul {
  margin-bottom:0px;
}

.nav {
  margin-bottom: 0px;
}

.well {
  .well {
    background-color: white;
    margin-bottom: 0px;
    .well{
      background-color: whiteSmoke;
      margin-bottom: 20px;
    }
  }
}