html {
  overflow-y: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  border: 0px;
  margin: 0px;
  padding-top: 60px;
}

.notice {
  border: 2px;
  background: {
    color: #00a3af;
  }

  font: {
    size: 20px;
  }

  color: black;
  padding: 10px;
}

/*bootstrap fix*/
.navbar .brand
{
  padding: 7px 20px 7px;
}

.navbar .nav > li > a {
  padding: 11px 10px 10px;
}

.navbar .btn-group{
  padding: 6px 0px 6px 10px;
}
