$c_red: #e45353; /* Error red */

html {
  // overflow-y: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.60;
  letter-spacing: 0px;
  border: 0px;
  margin: 0px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

.notice {
  border: 2px;
  background: {
    color: #00a3af;
  }

  font: {
    size: 20px;
  }

  color: black;
  padding: 10px;
}

//bootstrap fix ----------
hr {
  margin: 10px 0px;
}
.btn-toolbar {
  margin: 0px;
  height: 28px;
  .last {
    margin-right: 15px;
  }
}
.btn-group + .btn-group {
  margin-left: 0px;
}
.btn.active, .btn:active {
  // background-color: lightGoldenrodYellow;
}
.navbar .brand {
  padding: 7px 20px 7px;
}

.navbar .nav > li > a {
  padding: 11px 10px 10px;
}
.navbar .btn-group {
  padding: 6px 0px 6px 10px;
}
.table {
  margin-bottom: 0px;
}
.table.th-center {
  color: white;
  background-color: #98acd4;
  text-align: center;
  vertical-align: middle;
  th {
    text-align: center;
    vertical-align: middle;
  }
}
tbody.table {
  td {
    text-align: right;
    vertical-align: middle;
  }
  .td-left {
    text-align: left;
  }
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: white;
}
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #e2f3e7;
}

span.required {
  color: $c_red;
  font-weight: bold;
  font-size: 1.2em;
}

.fieldWithErrors {
  margin: 0px;
  display: block;
  clear: both;
}

form {
  margin: 0px;
}

.alert ul {
  margin-bottom:0px;
}

.nav {
  margin-bottom: 0px;
}

.well {
  .well {
    background-color: white;
    margin-bottom: 0px;
    .well{
      background-color: whiteSmoke;
      margin-bottom: 20px;
    }
  }
}

.mt-xs { margin-top: 5px }
.mt-s { margin-top: 10px }
.mt-m { margin-top: 15px }
.mt-l { margin-top: 20px }

.mb-0 { margin-bottom: 0px }

.h4-vm {
  height:28px;
  line-height:28px;
}
