body {
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#container {
  width: 920px;
  margin: 32px auto;
  padding: 32px;
}