body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#container {
  margin: 0px;
  padding: 5px;
}
