= remote_nested_form_for [:admin, @admission_period] do |f|
  = render 'form_fields', :f => f
  = buttons_for @admission_period, :nested_id => 'admin-admission-period', :label => t(:'admission_periods.save')
