<ul>
  <li><%= link_to t("students.list"), admin_students_path %></li>
  <li><%= link_to t("syllabuses.list"), admin_syllabuses_path %></li>
  <li><%= link_to t("class_manager"), "/admin/class_manager" %></li>
</ul>
