javascript:
  var examsForGrade = '#{@exams.to_json.to_s.html_safe}'
coffee:
  $(document).ready ->
    window.router = new GAKUEngine.Routers.ExamsRouter exams: $.parseJSON(examsForGrade)
    Backbone.history.start()



