span#student-achievements-list style='margin-right:3px'
  = link_to achievements_show(@student.achievements), [@student, :student_achievements], :id => 'index-student-achievements-link', :remote => true
