span#student-achievements-list
  = @student.student_specialties
= link_to edit_button, [student, :student_achievements], :class=> 'mr-xs btn btn-mini btn-warning' , :id => 'index-student-achievements-link', :remote => true