= remote_form_for [@course_group, @course_group_enrollment], label: t(:'course_group.singular') do |f|
  = f.select :course_id, options_from_collection_for_select(@courses, :id, :code), {prompt: t(:'course.choose')}, class: "span12", label: t(:'course.code')
  = f.hidden_field :course_group_id, value: @course_group.id
  = buttons_for @course_group_enrollment
