td =admission_phase.name
td =admission_phase.order
td =admission_phase.phase_handler
td= link_to t('admission_phase_states.list'), show_phase_states_admin_admission_method_admission_phase_path(@admission_method, admission_phase), :remote => true
td
  = ajax_link_to_edit [:edit, :admin, @admission_method, admission_phase]
  = ajax_link_to_delete [:admin, @admission_method, admission_phase]