tr id="admission-#{admission.id}" style="#{ (admission.student.enrollment_status_id == 17) ? "color: grey;" : "" }"
  = render 'gaku/admin/admissions/admission_fields', :admission => admission
  td.manage
  