tr id="admission-#{admission.id}" style="#{ (admission.student.enrollment_status.code == "deleted") ? "color: grey;" : "" }"
  = render 'gaku/admin/admissions/admission_fields', :admission => admission
  td.manage
  