td.applicant_number = student.admission.applicant_number
td.school_history = student.simple_grades
td.specialty_applications = student.admission.specialty_applications
td.surname = student.surname
td.name = student.name
td.birth = student.birth_date
td.gender = student.gender.nil? ? '' : (student.gender ? t(:'gender.male') : t(:'gender.female'))
// TODO: move this to helper
- if !phase.exam.nil?
  td.exam-score = !@students.select{|f| f[:student] == student}[0].nil? ? @students.select{|f| f[:student] == student}[0][:exam_score] : t(:'exams.not_graded')