= f.text_field :name, validate: { uniqueness: true }, label: t(:'grading_method_set.name')
= f.check_box :display_deviation, label: t(:'grading_method_set.display_deviation')
= f.check_box :display_rank, label: t(:'grading_method_set.display_rank')
= f.check_box :rank_order, label: t(:'grading_method_set.rank_order')
