-unless address.nil? or address.new_record? or !address
  tr id="address-#{address.id}"
     = render :partial => 'gaku/students/addresses/address_fields', :locals => {:address => address, :student => @student, :primary_address => @primary_address}